input{
  margin-bottom: 10px;
}

textarea{
  margin-bottom: 10px;
}

label{
  margin-right: 10px;
}

.container{
  padding: 30px;
  background: black;
  color: goldenrod;
  width: 100%;
  margin: 0 auto;
}

.coctails{
  background: white;
}

h1{
  margin-bottom: 100px;
  padding-right: 20px;
  text-transform: uppercase;
  cursor: pointer;
}

input.ng-invalid.ng-touched {
  border: 1px solid red;
}

textarea.ng-invalid.ng-touched {
  border: 1px solid red;
}

.invalid-form-text {
  color: red;
}

.link{

  margin-left: 20px;
  background: transparent;
  border: none;
}
