<div class="container">
  <h1 routerLink="/">Coctails party</h1>
  <div *ngIf="isFetching" class="loader"></div>
  <div *ngIf="!isFetching">
    <div class="coctail">

      <form (ngSubmit)="sendCoctail()" [formGroup]="formGroupCoctail" class="form-group">
        <label for="title">Название</label>
        <input type="text"
               formControlName="title"
               id="title"
               class="form-control"
        />
        <small
          *ngIf="errorCoctail('title', 'required')"
          class="invalid-form-text"
        >
          введите название!</small>
        <br>

        <label for="url">url для фото</label>
        <input type="text"
               id="url"
               class="form-control"
               formControlName="url"

        />
        <small
          *ngIf="errorCoctail('url', 'required')"
          class="invalid-form-text"
        >
          введите url!</small>
        <small
          *ngIf="errorCoctail('url', 'urlError')"
          class="invalid-form-text"
        >
          неправильный url!</small>
        <br>

        <label for="alco">алкогольный</label>
        <input
          type="radio"
          formControlName="type"
          id="alco"
          value="алкогольный"
        >
        <br>
        <label for="noalco">безалкогольный</label>
        <input
          type="radio"
          formControlName="type"
          id="noalco"
          value="безалкогольный"
        >
        <small
          *ngIf="errorCoctail('type', 'required')"
          class="invalid-form-text"
        >
          выберите тип!</small>
        <br>

        <textarea
          cols="20"
          rows="10"
          formControlName="description"
          id="description"
          class="form-control"
        >
        </textarea>
        <label for="description">описание</label>
        <small
          *ngIf="errorCoctail('description', 'required')"
          class="invalid-form-text"
        >
          введите описание!
        </small>
        <br>


        <div formArrayName="ingredients">
          <button
            type="button"
            (click)="addIngri()"
            class="btn-warning mb-3"
          >
            Add ingredients
          </button>

          <div *ngFor="let ingre of getIngri(); let i = index">
            <div [formGroupName]="i">
              <p>ingredients {{ i + 1 }}</p>
              <input
                type="text"
                formControlName="name"
                placeholder="name ingredient"
                class="form-control"
              />
              <small
                *ngIf="errorCoctail('name', 'required')"
                class="invalid-form-text"
              >
                введите название!
              </small>
              <br>

              <input
                type="text"
                formControlName="amount"
                placeholder="amount ingredient"
                class="form-control"
              />
              <small
                *ngIf="errorCoctail('amount', 'required')"
                class="invalid-form-text"
              >
                введите количество!
              </small>
              <br>

              <label for="sel">мера</label>
              <select
                formControlName="measure"
                class="mb-5"
                id="sel"
              >
                <option>мл</option>
                <option>ч.л</option>
                <option>с.л</option>
                <option>щепотка</option>
            </select>
              <small
                *ngIf="errorCoctail('measure', 'required')"
                class="invalid-form-text"
              >
                введите меру!
              </small>
              <button class="link" (click)="remIngri(i)">❌</button>
              <br>
            </div>
          </div>
        </div>

        <textarea
          cols="20"
          rows="10"
          formControlName="descriptionCoctail"
          id="desCoc"
          class="form-control"
        >
        </textarea>
        <label for="desCoc">способ приготовления</label>
        <small
          *ngIf="errorCoctail('descriptionCoctail', 'required')"
          class="invalid-form-text"
        >
          введите способ приготовления!
        </small>
        <br>
        <button
          class="btn btn-primary mt-3" type="submit"
          [disabled]="formGroupCoctail.invalid"
        >
          save
        </button>

      </form>
    </div>
  </div>
</div>

