.container{
  padding: 30px;
  background: black;
  color: goldenrod;
  width: 100%;
  margin: 0 auto;
}


a{
  text-decoration: none;
  color: red;
  text-transform: uppercase;
  font-size: 20px;
}

h1{
  margin: 0;
  padding-right: 20px;
  text-transform: uppercase;
}

.header{
  display: flex;
}

.coctails{
  display: inline-block;
  margin: 30px;
}

.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
