<div class="container">
  <div class="header">
    <h1>Coctails party</h1>
    <a routerLink="/new">new coctail</a>
  </div>

    <div *ngIf="isFetch" class="loader"></div>
    <div *ngIf="!isFetch">
      <div *ngIf="coctails">
        <div
          class="coctails"
          data-toggle="modal" data-target="#exampleModal"
        *ngFor="let coc of coctails"
   (click)="goId(coc.id)"
        >
            <img [src]="coc.url" alt="coctal" width="150">
            <h2>{{ coc.title }}</h2>
            <p>Тип: {{ coc.type }}</p>
        </div>
      </div>
  </div>

  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" *ngIf="service.coctailOne">
    <div class="modal-dialog">
      <div class="modal-content bg-black text-warning">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{{ service.coctailOne.title }}</h5>
          <img [src]="service.coctailOne.url" alt="coctal" width="300">
        </div>
        <div class="modal-body">
          {{ service.coctailOne.description }}
        </div>
        <div
        *ngFor="let ingri of getIngri(); let i = index"
        >
          <p>{{ i + 1 }}. {{ ingri.name }} {{ ingri.amount}} {{ ingri.measure}}</p>
        </div>
        <p>{{ service.coctailOne.descriptionCoctail }}</p>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
